@font-face {
	font-family: 'Roboto';
	src: url('/src/app/assets/Roboto/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
}

$background-color: #97cba9;
$card-background: #f9f3e5;
$shadow-color: rgba(0, 0, 0, 0.25);
$notes-background: #d8f7ff;

.todoList {
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
	padding: 0px 20px 20px 20px;
	min-height: 100vh;
	@media (max-width: 640px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.titleContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;

		.title {
			font-size: 55px;
			font-weight: 400;
			margin-bottom: 20px;
			text-align: center;
			@media (max-width: 640px) {
				font-size: 40px;
				border-bottom: 5px solid black;
			}
		}

		&::before,
		&::after {
			content: '';
			position: relative;
			flex: 1;
			height: 5px;
			background-color: #000000;
			margin: 0 15px;
			position: relative;
			top: 6px;
		}
	}
}

.schedule {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	justify-items: center;

	@media (max-width: 1570px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (max-width: 1260px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 950px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 640px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
