@font-face {
	font-family: 'Roboto';
	src: url('/src/app/assets/Roboto/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
}

$background-color: #f4d799;
$card-background: #f9f3e5;
$shadow-color: rgba(0, 0, 0, 0.25);
$notes-background: #d8f7ff;

.todo-list {
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
	padding: 20px;
	text-align: center;
	min-height: 100vh;

	.title {
		font-size: 48px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	.schedule {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		justify-items: center;
	}

	.data {
		font-size: 1rem;
	}

	.day-card {
		background-color: $card-background;
		box-shadow: 12px 12px 0 $shadow-color;
		border-radius: 24px;
		border: 5px solid;
		padding: 15px;
		max-width: 250px;
		min-height: 300px;
		text-align: left;

		.day-title {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 0;
			text-align: left;
			border-bottom: 3px solid;
		}

		.task-description {
			list-style: none;
			padding: 0;
			margin: 0;

			.task-done {
				display: flex;
				align-items: center;
				font-size: 0.9rem;
				color: #333;
				margin-bottom: 8px;

				&::before {
					content: '○';
					display: inline-block;
					font-size: 1rem;
					margin-right: 8px;
					color: #5b5b5b;
				}

				&.completed {
					font-weight: bold;

					&::before {
						content: '✔️';
						color: green;
					}
				}
			}
		}
	}
}
