@font-face {
	font-family: 'Roboto';
	src: url('/src/app/assets/Roboto/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
}

.root {
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
	padding-left: 10px;
}

.inner {
	display: flex;
	justify-content: flex-start;
}

.logo {
	background-color: #f9f3e5;
	color: #000000;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	border: 3px solid;
	border-radius: 5px;
	padding: 0 10px;
	text-decoration: none;
	margin-top: 30px;
	margin-right: 35px;
	@media (max-width: 640px) {
		font-size: 12px;
	}

	&:hover {
		background-color: #4361ee;
	}
}

.buttons {
	button {
		margin-left: 10px;
	}

	a {
		text-decoration: none;
	}
}
